.midcharts {
	min-height: 70px;
	margin-bottom: -19px;
}

.sidecol {
	width: 120px;
	height: calc(100vh - 100px);
}

.sidebutt {
	width: 114px;
}

.maincol {
	width: calc(100vw - 240px);
}

.infobubble {
	color: white;
	background: rgba(1, 1, 1, 0.7);
}