html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.midcharts {
	min-height: 70px;
	margin-bottom: -19px;
}

.sidecol {
	font-size: 73%;
	width: 50px;
	height: calc(100vh - 100px);
}

.maincol {
	width: calc(100vw - 100px);
}

.infobubble {
	color: white;
	background: rgba(1, 1, 1, 0.7);
}